.container{
    width: 1440px;
    height: 900px;
}

.header{
    width: 100%;
    height: 56px;
    background-color: #1b3a6b;
} 

.logo{
    width: 210px;
    height: 100%;
    position: relative;
    float: left;
}

.logo img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.logo h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    left: 55px;
}

.header_list{
    float: left;
}

.header_menu_list{
    width: 100%;
    height: 100%;
}

.header_menu_list li{
    float: left;
    color: #93c5fd;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    width: 96px;
}

.ad{
    width: 660px;
    height: 844px;
    background: linear-gradient(to right, #1e40af, #0f2547);
    float: left;
}

.content{
    width: 532px;
    height: 283px;
    position: relative;
    top: 120px;
    margin: 0 auto;
}

.content_auth{
    width: 184px;
    height: 29px;
    padding: 7px 16px 7px 16px;
    background-color: rgba(255, 255, 255, 9.41%);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content_auth img{
    float: left;
}

.content_auth h3{
    font-size: 12px;
    color: #93c5fd;
    font-weight: 500;
    float: left;
    font-family: Inter;
    margin-top: -2px;
    margin-left: 7px;
}

.content_title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 532px;
    height: 163px;
    text-align: center;
}

.content_title h2{
    font-size: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: Inter;
}

.content_title h3{
    font-size: 38px;
    color: #60a5fa;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 10px;
}

.content_title span{
    font-size: 15px;
    color: #bfdbfe;
    font-weight: 400;
    font-family: Inter;
}

.content_num{
    width: 344px;
    height: 51px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    float: left;
}

.num_list{
    width: 100%;
    height: 44px;
    padding-top: 5px;
}

.num_list li{
    float: left;
    width: 33.333333%;
    text-align: center;
    height: 44px;
}

.num_list li h3{
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
    margin-top: -8px;
}

.num_list li p{
    font-family: Inter;
    font-weight: 400;
    color: #93c5fd;
    font-size: 12px;
}

.num_list li:first-child{
    border-right: 1px solid rgba(255, 255, 255, 14.51%);
}

.num_list li:last-child{
    border-left: 1px solid rgba(255, 255, 255, 14.51%);
}

.table{
    width: 532px;
    height: 218px;
    margin: 0 auto;
    margin-top: 170px;
}

.table_list{
    width: 100%;
}

.table_menu_list {
    width: 100%;
}

.table_menu_list li{
    width: 100%;
    height: 66px;
    float: left;
    background-color: rgba(255, 255, 255, 7.06%);
    border: 1px solid rgba(255, 255, 255, 12.55%);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 14px 18px 14px 18px;
}

.table_menu_list .img_box{
    width: 38px;
    height: 38px;
    background-color: rgba(255, 255, 255, 8.24%);
    position: relative;
    border-radius: 8px;
    float: left;
    margin-right: 15px;
}

.img_box img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.table_menu_list li h3{
    font-family: Inter;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: -3px;
}

.table_menu_list li span{
    font-family: Inter;
    font-size: 12px;
    font-family: 400;
    color: #bfdbfe;
}

.login{
    width: 780px;
    height: 844px;
    background-color: #ffffff;
    float: left;
    position: relative;
}

.login_title{
    width: 400px;
    height: 62px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 25px;
}

.login_title h3{
    width: 400px;
    height: 36px;
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
    line-height: 36px;
    color: #111827;
}

.login_title span{
    width: 400px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    color: #6b7280;
}

.input_box{
    width: 400px;
    height: 188px;
    margin: 0 auto;
}

.input_box label{
    color: #374151;
    font-size: 13px;
    font-weight: 500;
    font-family: Inter;
    display: flex;
    margin-bottom: 5px;
}

.email, .password{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    color: black;
}

.email{
    background: url(/mail.png);
    background-position: left 15px center;
    background-repeat: no-repeat;
    background-size: auto;
    padding-left: 50px;
}

.password{
    background: url(/lock.png), url(/eye.png);
    background-position: left 15px center, right 15px center;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.password:focus{
    background: url(/lock.png);
    background-position: left 15px center;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.check{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    place-content: center;
    float: left;
    margin-top: 3px;
}

.check:checked{
    background-color: #1e3a5f;
    border-color: #1e3a5f;
}

.check:checked::before{
    content: "";
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-bottom: 2px;
}

.input_box span{
    font-size: 13px;
    color: #6b7280;
    margin-left: 7px;
    font-weight: 400px;
    font-family: Inter;
    width: 92px;
    height: 16px;
}

.input_box strong{
    float: right;
    font-size: 13px;
    color: #2563eb;
    font-weight: 500;
    font-family: Inter;
}

.login_btn{
    width: 400px;
    height: 50px;
    background-color: #1e3a5f;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 35px;
    border-radius: 10px;
    cursor: pointer;
}

.login_btn img{
    float: left;
    margin-left: 155px;
    margin-top: 15px;
}

.login_btn h3{
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    float: left;
    margin-left: 10px;
}

.or{
    width: 400px;
    margin: 0 auto;
    margin-top: 95px;
    height: 16px;
    margin-bottom: 10px;
}

.line1{
    width: 176px;
    text-indent: -99999;
    height: 1;
    background-color: #e5e7eb;
    float: left;
   margin-top: 7px;
   margin-right: 7px;
}

.or h3{
    font-size: 13px;
    font-weight: 400;
    font-family: Inter;
    color: #9ca3af;
    float: left;text-align: center;
}

.line2{
    width: 176px;
    text-indent: -99999;
    height: 1;
    background-color: #e5e7eb;
    float: left;
    margin-top: 7px;
   margin-left: 7px;
}

.kakao{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.ask{
    width: 400px;
    height: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 90px;
}

.ask span{
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    color: #6b7280;
    float: left;
    margin-right: 10px;
    margin-left: 90px;
}

.ask strong{
    color: #2563eb;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    float: left;
}